<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>About - Mango Counting</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/logo.png" rel="icon">
  <link href="../static/img/logo.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="index.html">ManCo.</a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li class="dropdown"><a href="#"><span>About</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a class="active" href="about.html">About</a></li>
              <li><a href="team.html">Team</a></li>
            </ul>
          </li>
          <li><a href="services.html">Aplication</a></li>
          <li><a href="portfolio.html">Galeri</a></li>
          <li><a href="contact.html">Contact</a></li>

          <li><a class="getstarted" href="about.html">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2>About</h2>
            <p>Mango Counting adalah sebuah website yang dirancang untuk membantu petani dalam menghitung jumlah buah mangga pada pohon mereka. </p>
          </div>
        </div>
      </div>
      <div class="container">
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>About</li>
        </ol>
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row justify-content-end">
          <div class="col-lg-11">
            <div class="row justify-content-end">

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box py-5">
                  <i class="bi bi-emoji-smile"></i>
                  <span data-purecounter-start="0" data-purecounter-end="99" class="purecounter">0</span>
                  <p>Happy Clients</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box py-5">
                  <i class="bi bi-journal-richtext"></i>
                  <span data-purecounter-start="0" data-purecounter-end="1" class="purecounter">0</span>
                  <p>Projects</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box pb-5 pt-0 pt-lg-5">
                  <i class="bi bi-clock"></i>
                  <span data-purecounter-start="0" data-purecounter-end="27" class="purecounter">0</span>
                  <p>Years of experience</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box pb-5 pt-0 pt-lg-5">
                  <i class="bi bi-award"></i>
                  <span data-purecounter-start="0" data-purecounter-end="22" class="purecounter">0</span>
                  <p>Awards</p>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-lg-6 video-box align-self-baseline position-relative">
            <img src="../static/img/about1.jpg" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=O9HvCix6g5s" class="glightbox play-btn mb-4"></a>
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content">
            <h3>Mango Counting adalah sebuah website yang dirancang untuk membantu petani.</h3>
            <p class="fst-italic">
              Website ini menggunakan teknologi penglihatan komputer dan pembelajaran mesin untuk menganalisis gambar dari pohon mangga dan memberikan perkiraan jumlah buah yang ada.
            </p>
            <ul>
              <li><i class="bx bx-check-double"></i> Pengambilan Gambar: Petani mengambil gambar dari pohon mangga mereka menggunakan kamera atau perangkat seluler. Gambar tersebut kemudian diunggah ke website Mango Counting.</li>
              <li><i class="bx bx-check-double"></i> Pemrosesan Gambar: Website Mango Counting menggunakan algoritma penglihatan komputer untuk mendeteksi dan mengidentifikasi buah mangga pada gambar yang diunggah. Ini melibatkan teknik seperti segmentasi gambar, pengenalan objek, dan penghitungan objek.</li>
              <li><i class="bx bx-check-double"></i> Perkiraan Jumlah Buah: Setelah memproses gambar dan menerapkan model pembelajaran mesin, website Mango Counting akan memberikan perkiraan jumlah buah mangga pada pohon yang dianalisis.</li>
              <li><i class="bx bx-check-double"></i> Visualisasi Hasil: Hasil perkiraan jumlah buah mangga dapat ditampilkan kepada pengguna dalam bentuk angka atau visualisasi grafis pada gambar asli yang diunggah.</li>
            </ul>
            <p>
              Manfaat dari Mango Counting adalah membantu petani dalam memperkirakan hasil panen mereka dengan lebih akurat dan efisien. Ini dapat membantu dalam perencanaan panen, alokasi sumber daya, dan pengambilan keputusan terkait manajemen kebun mangga.
            </p>
          </div>

        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Work Process Section ======= -->
    <section id="work-process" class="work-process">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Work Process</h2>
          <p>Berikut adalah work process atau alur kerja yang dapat dijelaskan dalam website Mango Counting:</p>
        </div>

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right">
            <img src="../static/img/work-process-11.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-4" data-aos="fade-left">
            <h3>Pengambilan Gambar.</h3>
            <p class="fst-italic">
            </p>
            <ul>
              <li><i class="bi bi-check"></i> Petani atau pengguna mengambil gambar pohon mangga menggunakan kamera atau perangkat seluler.</li>
              <li><i class="bi bi-check"></i> Gambar harus memiliki kualitas yang baik dan menangkap seluruh pohon secara jelas.</li>
            </ul>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
            <img src="../static/img/work-process-22.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
            <h3>Unggah Gambar</h3>
            <ul>
              <li><i class="bi bi-check"></i> Pengguna mengunggah gambar yang telah diambil ke website Mango Counting.</li>
              <li><i class="bi bi-check"></i> Proses unggah dapat dilakukan melalui antarmuka web atau aplikasi seluler.</li>
            </ul>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right">
            <img src="../static/img/work-process-3.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5" data-aos="fade-left">
            <h3>Pra-pemrosesan Gambar</h3>
            <ul>
              <li><i class="bi bi-check"></i> Website melakukan pra-pemrosesan pada gambar yang diunggah, seperti penyesuaian ukuran, peningkatan kontras, atau penghapusan noise.</li>
              <li><i class="bi bi-check"></i> Tujuannya adalah untuk mempersiapkan gambar agar lebih mudah diproses oleh algoritma penghitungan buah.</li>
            </ul>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
            <img src="../static/img/work-process-44.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
            <h3>Deteksi Buah</h3>
            <ul>
              <li><i class="bi bi-check"></i> Algoritma penglihatan komputer dan pembelajaran mesin digunakan untuk mendeteksi dan mengidentifikasi buah mangga pada gambar.</li>
              <li><i class="bi bi-check"></i> Ini melibatkan teknik seperti segmentasi gambar, pengenalan objek, dan klasifikasi objek.</li>
            </ul>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right">
            <img src="../static/img/work-process-5.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5" data-aos="fade-left">
            <h3>Penghitungan Buah</h3>
            <ul>
              <li><i class="bi bi-check"></i> Setelah buah mangga terdeteksi, algoritma penghitungan objek digunakan untuk menghitung jumlah total buah pada gambar.</li>
              <li><i class="bi bi-check"></i> Algoritma ini harus mampu membedakan buah yang terpisah dan menghindari penghitungan ganda.</li>
            </ul>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
            <img src="../static/img/work-process-6.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
            <h3>Validasi dan Penyesuaian</h3>
            <ul>
              <li><i class="bi bi-check"></i> Hasil penghitungan buah dapat divalidasi oleh pengguna atau ahli untuk memastikan akurasi.</li>
              <li><i class="bi bi-check"></i> Jika diperlukan, penyesuaian dapat dilakukan pada algoritma atau parameter untuk meningkatkan akurasi.</li>
            </ul>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right">
            <img src="../static/img/work-process-7.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5" data-aos="fade-left">
            <h3>Visualisasi Hasil</h3>
            <ul>
              <li><i class="bi bi-check"></i> Hasil penghitungan buah divisualisasikan kembali pada gambar asli yang diunggah.</li>
              <li><i class="bi bi-check"></i> Buah yang terdeteksi dapat disorot atau ditandai pada gambar untuk memudahkan pemahaman pengguna.</li>
            </ul>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
            <img src="../static/img/work-process-8.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
            <h3>Laporan dan Analisis</h3>
            </p> -->
            <ul>
              <li><i class="bi bi-check"></i> Website dapat menyediakan laporan terperinci tentang jumlah buah, perkiraan hasil panen, dan analisis lainnya.</li>
              <li><i class="bi bi-check"></i> Laporan ini dapat diunduh atau dikirim ke pengguna untuk keperluan dokumentasi atau pengambilan keputusan.</li>
            </ul>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right">
            <img src="../static/img/work-process-9.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5" data-aos="fade-left">
            <h3>Umpan Balik dan Perbaikan</h3>
            <ul>
              <li><i class="bi bi-check"></i> Pengguna dapat memberikan umpan balik tentang akurasi hasil penghitungan atau pengalaman menggunakan website.</li>
              <li><i class="bi bi-check"></i> Umpan balik ini dapat digunakan untuk meningkatkan algoritma dan mengembangkan fitur baru di masa mendatang.</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End Work Process Section -->

    </section><!-- End Our Skills Section -->

    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="section-title">
          <h2>Testimonialss</h2>
          <p>What are they saying about us</p>
        </div>

        <div class="slides-1 swiper" data-aos="fade-up">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="../static/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Muhammad Bakri</h3>
                <h4>Petani Mangga dari Bandung</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Mango Counting benar-benar revolusioner! Sebelumnya, kami harus menghitung buah mangga satu per satu, yang memakan waktu berhari-hari. Tapi dengan website ini, kami bisa mendapatkan perkiraan jumlah panen hanya dalam beberapa menit. Efisiensi kami meningkat drastis!
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="../static/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Sarah Azizah</h3>
                <h4>Manajer Perkebunan Mangga di Kalimantan.</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Saya sangat terkesan dengan akurasi algoritma penghitungan buah pada Mango Counting. Hasilnya selalu mendekati jumlah sebenarnya, bahkan pada pohon-pohon yang lebat. Ini benar-benar membantu kami dalam merencanakan panen dan mengelola sumber daya dengan lebih baik.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="../static/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Zahra</h3>
                <h4>Petani Mangga dari Lampung</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Antarmuka website Mango Counting sangat ramah pengguna dan mudah dipahami. Saya bukan orang yang mahir teknologi, tetapi saya dapat menggunggah gambar dan mendapatkan hasil penghitungan dengan lancar. Fitur visualisasi juga sangat membantu dalam memahami hasil.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="../static/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Eksportir Mangga dari Indonesia.</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Sebelum menggunakan Mango Counting, kami sering mengalami kesulitan dalam memperkirakan hasil panen dengan tepat. Tapi sejak menggunakan layanan ini, kami dapat merencanakan logistik dan pemasaran dengan jauh lebih baik. Ini benar-benar meningkatkan efisiensi dan keuntungan bisnis kami.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="../static/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Petani Mangga dari Sulawesi</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Saya sangat terkesan dengan dukungan dan layanan pelanggan yang diberikan oleh tim Mango Counting. Mereka selalu responsif dan siap membantu ketika saya memiliki pertanyaan atau masalah. Ini benar-benar membuat pengalaman menggunakan website menjadi menyenangkan.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>ManCo.</h3>
            <p>Mango Counting adalah sebuah website yang dirancang untuk membantu petani dalam menghitung jumlah buah mangga pada pohon mereka. Website ini menggunakan teknologi penglihatan komputer dan pembelajaran mesin untuk menganalisis gambar dari pohon mangga dan memberikan perkiraan jumlah buah yang ada.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="#about">About us</a></li>
              <li><a href="services.html">Services</a></li>
              <li><a href="portfolio.html">Galeri</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              <strong>Phone:</strong> +62 888 8888 8888<br>
              <strong>Email:</strong> contact@mangocounting.net<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Sekelompok Mahasiswa asal Indonesia baru saja meluncurkan sebuah website inovatif bernama Mango Counting (ManCo.) yang bertujuan untuk membantu para petani mangga di seluruh Indonesia. Website ini menggunakan teknologi canggih penglihatan komputer dan pembelajaran mesin untuk menghitung jumlah buah mangga pada pohon secara akurat dan efisien.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>ManCo</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="">Mahasiswa Indonesia</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/vendor/aos/aos.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>

</body>

</html>