<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Mango Counting</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="../static/img/logo.png" rel="icon" />
    <link href="../static/img/logo.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="../static/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="../static/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link
      href="../static/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="../static/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
          <h1 class="text-light"><a href="index.html">ManCo.</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="active" href="index.html">Home</a></li>
            <li class="dropdown">
              <a href="#"
                ><span>About</span> <i class="bi bi-chevron-down"></i
              ></a>
              <ul>
                <li><a href="about.html">About</a></li>
                <li><a href="team.html">Team</a></li>
              </ul>
            </li>
            <li><a href="services.html">Aplication</a></li>
            <!-- <li><a href="pricing.html">Pricing</a></li> -->
            <li><a href="portfolio.html">Galeri</a></li>
            <!-- <li><a href="blog.html">Blog</a></li> -->
            <li><a href="contact.html">Contact</a></li>

            <li><a class="getstarted" href="about.html">Get Started</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero">
      <div class="hero-container" data-aos="fade-up">
        <h1>Selamat Datang Di ManCo.</h1>
        <!-- <h2>We are team of talented designers making websites with Bootstrap</h2> -->
        <a href="about.html" class="btn-get-started scrollto">Get Started</a>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container">
          <div class="row justify-content-end">
            <div class="col-lg-11">
              <div class="row justify-content-end">
                <div
                  class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch"
                >
                  <div class="count-box py-5">
                    <i class="bi bi-emoji-smile"></i>
                    <span
                      data-purecounter-start="0"
                      data-purecounter-end="99"
                      class="purecounter"
                      >0</span
                    >
                    <p>Happy Clients</p>
                  </div>
                </div>

                <div
                  class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch"
                >
                  <div class="count-box py-5">
                    <i class="bi bi-journal-richtext"></i>
                    <span
                      data-purecounter-start="0"
                      data-purecounter-end="1"
                      class="purecounter"
                      >0</span
                    >
                    <p>Projects</p>
                  </div>
                </div>

                <div
                  class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch"
                >
                  <div class="count-box pb-5 pt-0 pt-lg-5">
                    <i class="bi bi-clock"></i>
                    <span
                      data-purecounter-start="0"
                      data-purecounter-end="27"
                      class="purecounter"
                      >0</span
                    >
                    <p>Years of experience</p>
                  </div>
                </div>

                <div
                  class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch"
                >
                  <div class="count-box pb-5 pt-0 pt-lg-5">
                    <i class="bi bi-award"></i>
                    <span
                      data-purecounter-start="0"
                      data-purecounter-end="22"
                      class="purecounter"
                      >0</span
                    >
                    <p>Awards</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div
              class="col-lg-6 video-box align-self-baseline position-relative"
            >
              <img src="../static/img/about1.jpg" class="img-fluid" alt="" />
              <a
                href="https://www.youtube.com/watch?v=O9HvCix6g5s"
                class="glightbox play-btn mb-4"
              ></a>
            </div>

            <div class="col-lg-6 pt-3 pt-lg-0 content">
              <h3>
                Mango Counting adalah sebuah website yang dirancang untuk
                membantu petani.
              </h3>
              <p class="fst-italic">
                Website ini menggunakan teknologi penglihatan komputer dan
                pembelajaran mesin untuk menganalisis gambar dari pohon mangga
                dan memberikan perkiraan jumlah buah yang ada.
              </p>
              <ul>
                <li>
                  <i class="bx bx-check-double"></i> Pengambilan Gambar: Petani
                  mengambil gambar dari pohon mangga mereka menggunakan kamera
                  atau perangkat seluler. Gambar tersebut kemudian diunggah ke
                  website Mango Counting.
                </li>
                <li>
                  <i class="bx bx-check-double"></i> Pemrosesan Gambar: Website
                  Mango Counting menggunakan algoritma penglihatan komputer
                  untuk mendeteksi dan mengidentifikasi buah mangga pada gambar
                  yang diunggah. Ini melibatkan teknik seperti segmentasi
                  gambar, pengenalan objek, dan penghitungan objek.
                </li>
                <li>
                  <i class="bx bx-check-double"></i> Perkiraan Jumlah Buah:
                  Setelah memproses gambar dan menerapkan model pembelajaran
                  mesin, website Mango Counting akan memberikan perkiraan jumlah
                  buah mangga pada pohon yang dianalisis.
                </li>
                <li>
                  <i class="bx bx-check-double"></i> Visualisasi Hasil: Hasil
                  perkiraan jumlah buah mangga dapat ditampilkan kepada pengguna
                  dalam bentuk angka atau visualisasi grafis pada gambar asli
                  yang diunggah.
                </li>
              </ul>
              <p>
                Manfaat dari Mango Counting adalah membantu petani dalam
                memperkirakan hasil panen mereka dengan lebih akurat dan
                efisien. Ini dapat membantu dalam perencanaan panen, alokasi
                sumber daya, dan pengambilan keputusan terkait manajemen kebun
                mangga.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 footer-info">
              <h3>ManCo.</h3>
              <p>
                Mango Counting adalah sebuah website yang dirancang untuk
                membantu petani dalam menghitung jumlah buah mangga pada pohon
                mereka. Website ini menggunakan teknologi penglihatan komputer
                dan pembelajaran mesin untuk menganalisis gambar dari pohon
                mangga dan memberikan perkiraan jumlah buah yang ada.
              </p>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#about">About us</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="portfolio.html">Galeri</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-contact">
              <h4>Contact Us</h4>
              <p>
                <strong>Phone:</strong> +62 888 8888 8888<br />
                <strong>Email:</strong> contact@mangocounting.net<br />
              </p>

              <div class="social-links">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"
                  ><i class="bi bi-instagram"></i
                ></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 footer-newsletter">
              <h4>Our Newsletter</h4>
              <p>
                Sekelompok Mahasiswa asal Indonesia baru saja meluncurkan sebuah
                website inovatif bernama Mango Counting (ManCo.) yang bertujuan
                untuk membantu para petani mangga di seluruh Indonesia. Website
                ini menggunakan teknologi canggih penglihatan komputer dan
                pembelajaran mesin untuk menghitung jumlah buah mangga pada
                pohon secara akurat dan efisien.
              </p>
              <form action="" method="post">
                <input type="email" name="email" /><input
                  type="submit"
                  value="Subscribe"
                />
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>ManCo</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="">Mahasiswa Indonesia</a>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="../static/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="../static/vendor/aos/aos.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../static/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="../static/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="../static/js/main.js"></script>
  </body>
</html>
